<div class="flexcol">
  <div>{{localize "NAMEPLATES.SETTINGS.GLOBAL.LIST.DESCRIPTION"}}</div>
  <p></p>
  <button type="button" data-action="configure" data-type="global">{{localize "NAMEPLATES.CONFIG.TYPES.GLOBAL"}}</button>
  <hr>
  {{#each types as |type|}}
    <button type="button" data-action="configure" data-type="{{type.value}}">{{localize type.label}}</button>
  {{/each}}
</div>